body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#opponentsWrapper{
  
}

#opponentsWrapper>div{
  
}
.PlayerStatsWrapper *{

}
.PlayerStatsWrapper{
  float: right;
  clear: right;
}


.PlayerStatsWrapper>ul{
  float: right;
  clear: right;
}

.OpponentInfoWrapper{
  width: 300px;
  display: inline-block;
}

.profile{
  display: block;
  margin-left:auto;
  margin-right:auto;
  align-content: center;
}

.avatar{
  display: block;
  margin-left:auto;
  margin-right:auto;
}
.nickname{
  text-align: center;
}

#playerInterface *{

}

#playerInterface > *{
  display:inline-block;
}

#ChatWrapper{
  height:300px;
}

.CharacterSheet{
  height:100px;
  width: auto;
  overflow-y: auto;
}